{% extends 'note/base.html' %}
{% load static %}
{% block content %}

<!-- 10/15 嘗試 Count worker for each day -->
<!-- Work.objects.filter(place='三園',thing='打葯',date1='2019-07-01') -->


<h1>嘗試用 value 合併用工地點<br></h1>
<h1>a</h1>
{{ a }}
<h1>b<br></h1>
{{b}}

{{x.thing__count}}

<table class='gridtable'>
    <tr>
        <th>用工地點</th>
        <th>用工地點 TEST </th>
    </tr>
    {% for x in a %}  
    <tr>
        <td rowspan=" {x.thing__count} ">{{ x.place }}</td>
        
        {% for y in b %}
        <td>{{ b.thing }}</td>
        {% endfor %}


    </tr>
    {% endfor %}
</table>



{% endblock %}


<!-- 合併儲存隔的時候可能會用到
>>> Work.objects.values('place').annotate(Count('thing'))
<QuerySet [{'place': '112園', 'thing__count': 2}, {'place': '17園', 'thing__count': 782}, {'place': '18園', 'thing__count': 186}, {'place': '1園', 'thing__count': 161}, {'place': '34園', 'thing__count': 87}, {'place': '3園', 'thing__count': 160}, {'place': '41園', 'thing__count': 145}, {'place': '51園', 'thing__count': 58}, {'place': '58園', 'thing__count': 261}, {'place': '59園', 'thing__count': 474}, {'place': '6園', 'thing__count': 9}, {'place': '73園', 'thing__count': 364}, {'place': '89園', 'thing__count': 769}, {'place': '8園', 'thing__count': 78}, {'place': '9園', 'thing__count': 30}, {'place': '大棚2區', 'thing__count': 1417}]>-->