{% extends 'note/base.html' %}
{% load static %}
{% block content %}

<h1><br></h1>
<h1>10/12 OPEN BOOK QUIZ</h1>


<table class='gridtable'>
    <tr>
        <th></th>
        <th>year</th>
        <th>Week</th>
        <th>Date From</th>
        <th>Date to</th>
    </tr>
    {% for x in list %}  
    <tr>
        <th>{{ forloop.counter }}</th>
        <td>{{x.yr}}</td>
        <td>{{x.num}}</td>
        <td>{{x.date1|date:"Y-m-d"}}</td>
        <td>{{x.date2|date:"Y-m-d"}}</td>
    </tr>
    {% endfor %}
</table>



{% endblock %}